body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    background-image: url("./assets/img/background-1.avif");
}

* { 
    box-sizing: border-box;
}

.testing-textbox {
    padding: 0.5ch;
    background-color: beige;
    border: 0.5ch solid black;
    text-align: center;
    margin: 0.5ch;
}

.ongoing-debate-host {
    width: 60ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    background-color:aliceblue;
    color:chocolate;
}

.debate-question {
    text-transform: uppercase;
}

.debate-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50ch;
    margin: 1em 0;
}

.player-stance {
    height: 100%;
    width: 20ch;
}

.player-stance > .supporters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5ch);
    gap: 0.5ch;
}

.character-icon {
    max-width: 5ch;
    max-height: 5ch;
}